{% extends "base.html.twig" %}

{% block title %}- Nuevo Contrato{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div id="menu" class="col-sm-3 acc-menu">
                {% include 'backend/client/left-menu.html.twig' %}
            </div>

            <div class="col-sm-9 acc-stat">

                <p class="col-xs-12 plan-name">{{ plan.name }} {{ plan.level|roman }} - {{ plan.value|number_format(0,'','') }} USD</p>

                <div class="col-xs-12 referral-link m-t-50">
                    <div class="col-lg-3 referral-link-left payment">
                        Su saldo
                    </div>
                    <div class="col-lg-9 referral-link-right">
                        <div class="col-lg-9">
                            <span class="payment-account-balance text-center">{{ app.user.account.balance }} USD</span>
                        </div>
                            <div class="col-lg-3 text-center">
                                {% if plan.value <= app.user.account.balance %}
                                    <a class="btn btn-large deposit" id="balance-contract" href="#">Contratar</a>
                                {% endif %}
                            </div>
                    </div>
                </div>

                <div class="col-xs-12">

                    <p class="acc-p m-t-50">
                        <img src="{{ asset('assets/images/deposit.svg') }}" alt=""> Depositar
                    </p>
                    <div class="wallets m-t-25">
                        <label for="process_18">
                            <input type="radio" name="type" id="process_18" class="process" value="btc" checked="checked">
                            <img src="{{ asset('assets/images/curbtc.png') }}" alt="" class="process-img">
                        </label>
                        <label for="process_43">
                            <input type="radio" name="type" id="process_43" class="process" value="ltc">
                            <img src="{{ asset('assets/images/curltc.png') }}" alt="" class="process-img">
                        </label>
                        <label for="process_48">
                            <input type="radio" name="type" id="process_48" class="process" value="eth">
                            <img src="{{ asset('assets/images/cureth.png') }}" alt="" class="process-img">
                        </label>
                        <label for="process_68">
                            <input type="radio" name="type" id="process_68" class="process" value="doge">
                            <img src="{{ asset('assets/images/curdoge.png') }}" alt="" class="process-img">
                        </label>
                        <label for="process_79">
                            <input type="radio" name="type" id="process_79" class="process" value="dash">
                            <img src="{{ asset('assets/images/curdash.png') }}" alt="" class="process-img">
                        </label>
                        <label for="process_69">
                            <input type="radio" name="type" id="process_69" class="process" value="usd">
                            <img src="{{ asset('assets/images/curusd.png') }}" alt="" class="process-img">
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}

{% block javascripts %}
    <form id="balance-form" method="post" action="{{ path('client_contract_payment_balance') }}"><input id="drop-balance" name="drop" type="hidden" value="" /></form>
    <form id="drop-form" method="post" action="{{ path('client_contract_payment') }}"><input id="drop" name="drop" type="hidden" value="" /></form>
    <script>
        $(document).ready(function () {
            $('#balance-contract').click(function () {
                $("#drop-balance").val('{{ plan.priority~plan.level~plan.id }}');
                $("#balance-form").submit();
            });
        });
    </script>
{% endblock %}
