{% extends "base.html.twig" %}

{% block title %}- Nuevo Contrato{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div id="menu" class="col-sm-3 acc-menu">
                {% include 'backend/client/left-menu.html.twig' %}
            </div>

            <div class="col-sm-9 acc-stat">

                {% set last_plan='' %}
                {% for plan in plans %}
                    {% if last_plan!=plan.name %}
                        {% set last_plan=plan.name %}
                        <p class="col-xs-12 plan-name">{{ plan.name }}</p>
                    {% endif %}
                    <div class="col-lg-3 acc-stat-block">
                        <div class="col-xs-12">
                            <div class="acc-stat-top {{ colors['background'][plan.priority] }}">
                                <p class="plan-level text-center">{{ plan.level|roman }}</p>
                                <p class="plan-value text-center">{{ plan.value|number_format(0,'','') }} USD</p>
                            </div>
                                <div class="acc-stat-bottom {{ colors['border'][plan.priority] }}" data-drop="{{ plan.priority~plan.level~plan.id }}">
                                    <a href="#" class="deposit">Contratar</a>
                                </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}

{% block javascripts %}
    <form id="drop-form" method="post" action="{{ path('client_contract_payment') }}"><input id="drop" name="drop" type="text" value="" /></form>
    <script>
        function myFunction() {
            var copyText = document.getElementById("myInput");
            copyText.select();
            document.execCommand("copy");
        }
        window.onload = function () {
            document.querySelector('.link.success').addEventListener('click', () => console.log('Copy done.'));
        };
        $(document).ready(function () {
            $('.acc-stat-bottom').click(function () {
                $("#drop").val($(this).attr('data-drop'));
                $("#drop-form").submit();
            });
        });
    </script>
{% endblock %}
