{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div id="menu" class="col-sm-3 acc-menu">
                {% include 'backend/client/left-menu.html.twig' %}
            </div>

            <div class="col-sm-9 acc-stat">
                <div class="col-lg-3 acc-stat-block">
                    <div class="acc-stat-top">
                        <p class="text-left">Contratos activos</p>
                        <span>{{ account.activeContracts }}</span>
                    </div>
                    <div class="acc-stat-bottom">
                        <a href="#" class="deposit">Mis Contratos</a>
                    </div>
                </div>
                <div class="col-lg-3 acc-stat-block">
                    <div class="acc-stat-top">
                        <p class="text-left">Capital activo</p>
                        <span>${{ account.activeCapital }}</span>
                    </div>
                    <div class="acc-stat-bottom">
                        <a href="{{ path('client_contract') }}" class="deposit">Contratar</a>
                    </div>
                </div>
                <div class="col-lg-3 acc-stat-block">
                    <div class="acc-stat-top">
                        <p class="text-left">Disponible</p>
                        <span>${{ account.balance }}</span>
                    </div>
                    <div class="acc-stat-bottom">
                        <a href="#" class="deposit">Retirar</a>
                    </div>
                </div>
                <div class="col-lg-3 acc-stat-block">
                    <div class="acc-stat-top">
                        <p class="text-left">Retenido</p>
                        <span>${{ account.retained }}</span>
                    </div>
                    <div class="acc-stat-bottom">
                        <a href="#" class="deposit">Ver histórico</a>
                    </div>
                </div>

                        {% if app.user.account.bestPlan is not null %}
                            <div class="col-xs-12 referral-link">
                                <div class="col-lg-3 referral-link-left">
                                    Link para referidos
                                </div>
                                <div class="col-lg-9 referral-link-right">
                                    <div class="col-lg-9">
                                        <span id="myTooltip"></span>
                                        <input type="text" class="text-center" id="myInput" readonly 
                                               value="{{ absolute_url(path('app_register_with_sponsor',{'sponsor_code':app.user.sponsorCode})) }}">
                                    </div>
                                    <div class="col-lg-3 text-center">
                                        <button onclick="myFunction()" class="link success">Copiar</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if lastTransactions|length>0 %}
                            <div class="col-xs-12">
                                <div class="last-operations-container col-xs-12 m-t-25">
                                    <h3 class="acc-p last-operations-title">&Uacute;ltimas transacciones</h3>
                                    <table class="table m-t-25">
                                        <thead>
                                            <tr>
                                                <th>Moneda</th>
                                                <th>Concepto</th>
                                                <th>Fecha</th>
                                                <th>Importe</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for t in lastTransactions %}
                                                <tr>
                                                    <td class="text-center"><img src="{{ asset('assets/images/curbtc.png') }}"></td>
                                                    <td>{{ t.concept }}</td>
                                                    <td>{{ t.date|date('d-m-Y h:i a') }}</td>
                                                    <td class="text-right">{{ t.credit>0?t.credit:t.debit }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}

                <div class="col-xs-12">
                    <a id="test" href="#">Update account</a>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}

{% block javascripts %}
    <script>
        function myFunction() {
            var copyText = document.getElementById("myInput");
            copyText.select();
            document.execCommand("copy");
        }
        window.onload = function () {
            document.querySelector('.link.success').addEventListener('click', () => console.log('Copy done.'));
        };

        $(document).ready(function () {
            $("#test").click(function () {
                $.ajax('{{ path('client_account_update') }}')
                        .done(function (e) {
                            console.log(e)
                        });
            });
        });
    </script>
{% endblock %}
