<div class="col-md-6 text-center">
    <a href="{{ path('client_dashboard') }}" class="{{ subactive=='dashboard'?'active':'' }}">
        <i class="fa fa-home" aria-hidden="true"></i>
        Dashboard
    </a>
</div>
<div class="col-md-6 text-center">
    <a href="{{ path('client_contract') }}"  class="{{ subactive=='contract'?'active':'' }}">
        <i class="fa fa-database" aria-hidden="true"></i>
        Contratos
    </a>
</div>
<div class="col-md-6 text-center">
    <a href="#">
        <i class="fa fa-university" aria-hidden="true"></i>
        Mis Contratos
    </a>
</div>
<div class="col-md-6 text-center">
    <a href="#">
        <i class="fa fa-money" aria-hidden="true"></i>
        Retiros
    </a>
</div>
<div class="col-md-6 text-center">
    <a href="#">
        <i class="fa fa-group" aria-hidden="true"></i>
        Referidos
    </a>
</div>
<div class="col-md-6 text-center">
    <a href="#">
        <i class="fa fa-history" aria-hidden="true"></i>
        Historial
    </a>
</div>
<div class="col-md-6 text-center">
    <a href="#">
        <i class="fa fa-gear" aria-hidden="true"></i>
        Configuración
    </a>
</div>
