.acc-menu {
    margin: 50px 0;
}
.acc-menu {
    margin: 50px 0;
}
.acc-menu a {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    color: #000;
    display: inline-block;
    font-family: 'GM';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    height: 130px;
    margin-bottom: 20px;
    width: 100%;
}
.acc-menu a i {
    display: block;
    font-size: 36px;
    margin: 28px auto 18px;
}
.acc-menu a.active, .acc-menu a:hover {
    background: #161616;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    color: #fff;
}
.acc-stat {
    margin: 50px 0;
}
.acc-stat-block {
    margin-bottom: 30px;
}
.acc-stat-top {
    background: #161616;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 3px 3px 0 0;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.acc-stat-top p, .acc-stat-bottom.ref p {
    font-family: 'GM';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.8;
}
.acc-stat-bottom.ref p, .acc-stat-bottom.ref span {
    color: #fff;
}
.acc-stat-top span, .acc-stat-bottom.ref span {
    font-family: 'HNDEB';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 64px;
}
.acc-stat-bottom {
    background: #bd8035;
    text-align: center;
    padding: 20px 15px;
}
.acc-stat-bottom.ref {
    padding: 20px;
}
.acc-stat-bottom a {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border-radius: 5px;
    color: #000;
    display: inline-block;
    font-family: 'GSB';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 15px;
}
a.deposit {
    background: linear-gradient(0.97deg, #212121 0.92%, #525252 97.88%);
    color: #fff;
}
a.deposit:hover, a.deposit:focus {
    color: #bd8035;
}
.graph-container {
    padding: 10px 15px;
    background-color: #fff;
}
.last-operations-container {
    padding: 10px 15px;
    background-color: #fff;
}
.acc-p {
    color: #000000;
    font-size: 20px;
    line-height: 23px;
    margin: 10px 0 20px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}
.table tr {
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04);
    border-radius: 0px;
    font-size: 18px;
    line-height: 21px;
    color: #2F2F2F;
}
.table > tbody > tr > td, .table > tbody > tr > th,
.table > tfoot > tr > td, .table > tfoot > tr > th,
.table > thead > tr > td, .table > thead > tr > th {
    border-top: 0;
    vertical-align: middle;
    padding: 4px 8px;
}
.table img {
    width: 22px;
}
.referral-link-left {
    background: #161616;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
}
.referral-link-left.payment {
    line-height: 58px;
}
.referral-link-right {
    background: #bd8035;
    padding: 12px 0;
}
.referral-link-right input, .referral-link-right input:focus, .referral-link-right input::selection {
    background: transparent;
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: underline;
    width: 100%;
}
.referral-link-right button {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border-radius: 5px;
    border: 0;
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 0 14px;
}
.last-operations-title {
    background-color: black;
    color: white;
    margin: -15px;
    padding: 15px;
}
.plan-name {
    font-size: 28px;
    margin-bottom: 10px;
}
.plan-level {
    font-size: 24px !important;
    margin-bottom: 10px;
}
.plan-value {
    font-size: 20px !important;
}
.payment-account-balance {
    font-size: 20px;
    color: white;
}
.wallets {
    display: flex !important;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background: linear-gradient(0deg, #161616, #161616), #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    display: inline-block;
    padding: 30px;
}
.wallets label {
    display: inline;
    cursor: pointer;
}
.wallets input[type="radio"] {
    display: none;
}
.process:checked + .process-img {
    box-shadow: 0px 0px 15px 5px #D93F30;
    border-radius: 50%;
}