/* https://www.wowthemes.net 
Beauttio HTML Template
v1.0.0
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.7;
    font-weight:300;
    font-family: Arial;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
.wrapper {
    width: 100%;
}
.content-row {
    width: 100%;
    padding: 0px;
}
header {
    background: #336666;
}
.nav-logo {
    margin: 14px 0 0px 18px;
    height: 28px;
    vertical-align: top;
    float: left;
    z-index: 102;
}
.main-menu {
    display: inline-block;
    color: white;
    float: left;
    margin: 19px 50px;
    font-size: 24px;
}
.main-menu li {
    display: inline-block;
    margin-right: 20px;
}
.btn-login {
    float: right;
    margin: 13px 15px 0;
}
.btn-solid {
    background-color: lightgray;
    border: 1px black solid;
    padding: 5px 16px;
}
.btn-solid:hover {
    text-decoration: none;
}
.main-menu li a {
    text-decoration: none;
    color: white;
}
.main-menu li a.active {
    border-bottom: 7px #9fe1e8 solid;
    color: #9fe1e8;
}
.divider {
    width: 100%;
    height: 10px;
    background-color: #336666;
    margin-bottom: 15px;
}
.banner-main {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.banner-left {
    display: block;
    margin: 15px auto;
    padding: 0px;
    max-width: 100%;
}
.main-info-box .box-body {
    border: 1px lightgray solid;
    box-shadow: 1px 1px 5px #afb4b5;
    margin: 15px 0;
    padding: 5px 15px;
}
.main-info-box .title {
    font-size: 1em;
}
.main-info-box .divider {
    border: 2px lightgrey dashed;
    height: 0px;
}
.main-info-box .content {
    margin-top: 10px;
    min-height: 135px;
}
.main-info-box .fa {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 40px;
    color: #E3D394;
    text-align: center;
    display: block;
}
.logo-box {
    float: right;
    margin: -16px 0px -2px 0px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.w-30 {
    width: 30%;
}
.w-70 {
    width: 70%;
}
.paragraph {
    padding: 0px 30px;
    margin-bottom: 15px;
}
.subtitle {
    display: block;
    background-image: url(../images/subtitle-bg.png);
    background-position-y: 25px;
    background-repeat: no-repeat;
    font-size: 28px;
    font-weight: bold;
    line-height: 46px;
    padding-left: 15px;
    padding-right: 50px;
    width: fit-content;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.m-t-25 {
    margin-top: 25px;
}
.m-t-50 {
    margin-top: 50px !important;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-25 {
    margin-bottom: 25px;
}
.p-t-25 {
    padding-top: 25px !important;
}
.p-40 {
    padding: 40px;
}
.white {
    color: white;
}
.main-plan-box .box-body {
    box-shadow: 1px 1px 5px #afb4b5;
    margin: 15px auto;
    padding: 5px 15px;
}
.main-plan-box .title {
    font-size: 20px;
    display: block;
    margin: -15px;
    padding: 0 15px;
    font-weight: bold;
    color: white;
}
.main-plan-box .content {
    margin-top: 35px;
    margin-bottom: 20px;
    height: 120px;
}
.left-bracket {
    display: block;
    width: 10%;
    height: 100%;
    float: left;
    border-width: 5px;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
}
.middle-content {
    float: left;
    width: 80%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    padding-top: 5px;
}
.right-bracket {
    display: block;
    width: 10%;
    height: 100%;
    float: right;
    border-width: 5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
}
.bg-plan-starter {
    background-color: #999999 !important;
}
.bg2-plan-starter {
    background-color: #d7d7d7 !important;
}
.bd-plan-starter {
    border-color: #e6e6e6;
}
.bg-plan-medium {
    background-color: #5DB5BD !important;
}
.bg2-plan-medium {
    background-color: #cbe2e2 !important;
}
.bd-plan-medium {
    border-color: #daf3f3;
}
.bg-plan-advanced {
    background-color: #669933 !important;
}
.bg2-plan-advanced {
    background-color: #cde6b4 !important;
}
.bd-plan-advanced {
    border-color: #cde6b4;
}
.bg-plan-expert {
    background-color: #cc9933 !important;
}
.bg2-plan-expert {
    background-color: #f5d9a2 !important;
}
.bd-plan-expert {
    border-color: #f5d9a2;
}
.accepted-currencies {
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 1.5em;
    line-height: 28px;
}
.image-currencies {
    padding-top: 15px;
}
.image-currencies img {
    max-width: 100%;
}
.footer-nav {
    list-style: none;
}
.footer-nav li {
    display: inline-block;
    margin: 0 15px;
}
.logo-footer {
    width: 200px;
}
.faq-subtitle {
    font-size: 1.5em;
    font-weight: bold;
}
.bullet {
    margin-top: 6px;
}
.flash-notice {
    display: block;
    position: absolute;
    top: 11%;
    right: 1%;
    width: 250px;
    padding: 10px 20px;
    z-index: 999;
    background-color: white;
    border: 5px #E3D394 solid;
    box-shadow: 0px 0px 10px 2px black;
    border-radius: 15px;
}
.flash-notice i {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e80000;
    color: white;
    padding: 2px 3px 3px;
    border-radius: 5px;
    cursor: pointer;
}
.login-left {
    background: #336666;
    box-shadow: 0px 50px 50px #000000;
    min-height: 100vh;
    height: 100%;
}
.login-left .form-control {
    border: 2px solid #FFFFFF;
    border-radius: 5px !important;
    width: 100%;
}
.login-right {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
}
.login-right img {
    width: 90%;
    margin: 0 auto;
    filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.5));
}
.login-left h1 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    margin-top: 90px;
}
.underline {
    text-decoration: underline;
}
.agree {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.form-check-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
label.checkbox {
    background: #FFFFFF;
    border: 1px solid #595959;
    border-radius: 2px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    float: left;
    margin: -2px 5px 0;
}
.login-left a.link {
    color: #FFFFFF;
    font-family: 'GR';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.35px;
    text-decoration: underline;
    text-transform: capitalize;
}
@media (min-width: 768px) {
    .main-info-box .content {
        min-height: 200px;
    }
    .middle-content {
        padding-top: 15px;
    }
}
.user-data {
    text-align: right;
    font-size: 14px;
    border-bottom: 1px #336666 solid;
    padding-top: 2px;
    color: #336666;
}
.user-data i, .user-data span {
    padding-left: 15px;
}
.user-data .username {
    font-weight: bold;
}