<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ title|default('Nuevo Plan') }}</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                {{ form_start(form, {role : 'form'}) }}
                <div class="card-body">
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content) }}
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">{{ button_label|default('Crear') }}</button>
                    <a href="{{ url('config_index') }}" class="btn btn-danger">Cancelar</a>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
