{% extends 'backend/index.html.twig' %}

{% set title = 'Variables de Configuración' %}

{% block title %}{{ title }}{% endblock %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ title }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url('dashboard') }}">Inicio</a></li>
                        <li class="breadcrumb-item active">{{ title }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <a class="btn btn-primary" href="{{ path('config_new') }}">Nueva Variable</a>
        </div>
        <div class="card-body table-responsive">
            <table id="table" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th class="text-center">Contenido</th>
                    <th class="not-sort text-center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for config in configs %}
                    <tr>
                        <td>{{ config.name }}</td>
                        <td>{{ config.content }}</td>
                        <td class="text-center" style="padding: 15px;">
                            <a href="{{ path('config_edit', {'id': config.id} ) }}"
                               style="margin-right: 15px;">
                                <i class="fa fa-edit" title="Editar Variable {{ config.name }}"></i>
                            </a>
                            <a href="{{ path('config_delete', {'id': config.id} ) }}"
                               onclick="return confirm('Está seguro de eliminar la variable de Configuración {{ config.name }} ?');">
                                <i class="fa fa-trash" style="color: red;"
                                   title="Eliminar Variable {{ config.name }}"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
{% endblock %}
