{% extends 'backend/index.html.twig' %}
{% set title = "Nueva Variable Configuración" %}
{% block title %}{{ title }}{% endblock %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url('dashboard') }}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="{{ url('config_index') }}">Configuraciones</a></li>
                        <li class="breadcrumb-item active">{{ title }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

{% endblock %}

{% block content %}
    {{ include('backend/config/_form.html.twig') }}
{% endblock %}
