{% extends "base.html.twig" %}

{% block content %}

    <div class="col-lg-12">
        <div class="row">

            <div class="col-sm-1 hidden-xs">
            </div>
            <div class="col-sm-10 col-xs-12 main-info-box">
                <div class="box-body p-t-25">
                    <div class="row">

                        <div class="col-xs-12 col-sm-6">

                            {{ form_start(form, {role : 'form'}) }}
                            <div class="form-group">
                                {{ form_widget(form.name) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.message) }}
                            </div>
                            <div class="paragraph text-center m-t-25">
                                <button type="submit" class="btn-lg btn-solid">{{ button_label|default('Enviar') }}</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">

                            <div class="paragraph text-justify">
                                Para quienes invierten por primera vez, puede parecer complicado y suscitar muchas preguntas. Para todos nuestros inversores existe un servicio de soporte que responderá cualquier duda que pueda tener y le ayudará a resolver la situación que provocó el problema. En tales casos, siempre puede comunicarse con un consultor en el chat de Telegram, hacer una pregunta en Facebook o escribirnos para obtener una respuesta rápida. Solid-Assets se esfuerza por hacer todo lo posible para que nuestros Inversores no tengan dificultades, y la comunicación con nuestro proyecto sea rápida, fácil y cómoda.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-xs-12 divider m-t-25"></div>

{% endblock %}
