{% extends "base.html.twig" %}

{% block content %}

    <div class="col-lg-12">
        <div class="row">

            <div class="col-xs-12 m-t-25">
            </div>
            <div class="col-md-2 col-sm-2 hidden-xs m-t-25">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 m-t-25 text-justify">
                <div class="box-body">
                    <style>
                        [data-custom-class='body'], [data-custom-class='body'] * {
                            background: transparent !important;
                        }
                        [data-custom-class='title'], [data-custom-class='title'] * {
                            font-family: Arial !important;
                            font-size: 26px !important;
                            color: #000000 !important;
                        }
                        [data-custom-class='subtitle'], [data-custom-class='subtitle'] * {
                            font-family: Arial !important;
                            color: #595959 !important;
                            font-size: 14px !important;
                        }
                        [data-custom-class='heading_1'], [data-custom-class='heading_1'] * {
                            font-family: Arial !important;
                            font-size: 19px !important;
                            color: #000000 !important;
                        }
                        [data-custom-class='heading_2'], [data-custom-class='heading_2'] * {
                            font-family: Arial !important;
                            font-size: 17px !important;
                            color: #000000 !important;
                        }
                        [data-custom-class='body_text'], [data-custom-class='body_text'] * {
                            color: #595959 !important;
                            font-size: 14px !important;
                            font-family: Arial !important;
                        }
                        [data-custom-class='link'], [data-custom-class='link'] * {
                            color: #3030F1 !important;
                            font-size: 14px !important;
                            font-family: Arial !important;
                            word-break: break-word !important;
                        }
                    </style>

                    <div data-custom-class="body">
                        <div><strong><span style="font-size: 26px;">
                                    <span data-custom-class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">POLÍTICA DE COOKIES</font></font></span></span></strong></div>
                        <div><br></div>
                        <div><span style="color: rgb(127, 127, 127);"><strong><span style="font-size: 15px;"><span data-custom-class="subtitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Última actualización </font></font><bdt class="question"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22 de noviembre de 2020</font></font></bdt></span></span>
                                </strong>
                            </span>
                        </div>
                        <div><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Esta Política de cookies explica cómo </font></font><bdt class="question">Solid-Assets.com</bdt><bdt class="block-component"></bdt> ("<bdt class="block-component"></bdt><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Empresa</font></font></strong><bdt class="statement-end-if-in-editor"></bdt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">"," </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">nosotros</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> "," </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">nos</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> "y" </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">nuestro</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ") utiliza cookies y tecnologías similares para reconocerlo cuando visita nuestros sitios web en</font></font><bdt class="forloop-component"></bdt> <bdt class="question"><a href="https://solid-assets.com" target="_blank" data-custom-class="link">https://solid-assets.com</a></bdt>,<bdt class="forloop-component"></bdt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(" </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sitios web</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> "). </font><font style="vertical-align: inherit;">Explica qué son estas tecnologías y por qué las usamos, así como sus derechos para controlar nuestro uso de ellas.</font></font><bdt class="block-component"></bdt></span></span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En algunos casos, podemos utilizar cookies para recopilar información personal, o que se convierte en información personal si la combinamos con otra información. </font></font><bdt class="block-component"></bdt></span>
                                    <bdt class="statement-end-if-in-editor"><span data-custom-class="body_text"></span></bdt>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(0, 0, 0); font-size: 15px;"><strong><span data-custom-class="heading_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿Qué son las cookies?</font></font></span></strong>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Las cookies son pequeños archivos de datos que se colocan en su computadora o dispositivo móvil cuando visita un sitio web. </font><font style="vertical-align: inherit;">Los propietarios de sitios web utilizan ampliamente las cookies para que sus sitios web funcionen, o para que funcionen de manera más eficiente, así como para proporcionar información de informes.</font></font></span></span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies establecidas por el propietario del sitio web (en este caso, </font></font><bdt class="question">Solid-Assets.com</bdt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">) se denominan "cookies de origen". </font><font style="vertical-align: inherit;">Las cookies establecidas por terceros distintos al propietario del sitio web se denominan "cookies de terceros". </font><font style="vertical-align: inherit;">Las cookies de terceros permiten que se proporcionen características o funciones de terceros en el sitio web oa través de él (por ejemplo, publicidad, contenido interactivo y análisis). </font><font style="vertical-align: inherit;">Las partes que establecen estas cookies de terceros pueden reconocer su computadora tanto cuando visita el sitio web en cuestión como cuando visita otros sitios web.</font></font></span></span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(0, 0, 0); font-size: 15px;"><strong><span data-custom-class="heading_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿Por qué utilizamos cookies?</font></font></span></strong>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Usamos primero</font></font><bdt class="block-component"></bdt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> y tercero</font></font><bdt class="statement-end-if-in-editor"></bdt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">cookies de fiesta por varias razones. </font><font style="vertical-align: inherit;">Algunas cookies son necesarias por razones técnicas para que nuestros sitios web funcionen, y las denominamos cookies "esenciales" o "estrictamente necesarias". </font><font style="vertical-align: inherit;">Otras cookies también nos permiten rastrear y apuntar a los intereses de nuestros usuarios para mejorar la experiencia en nuestras Propiedades en línea.</font></font><bdt class="block-component"></bdt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Los terceros sirven cookies a través de nuestros sitios web para publicidad, análisis y otros fines. </font></font><bdt class="statement-end-if-in-editor"></bdt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Esto se describe en más detalle a continuación.</font></font></span></span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Los tipos específicos de primera</font></font><bdt class="block-component"></bdt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> y tercero</font></font><bdt class="statement-end-if-in-editor"></bdt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Las cookies de terceros que se sirven a través de nuestros sitios web y los fines que realizan se describen a continuación (tenga en cuenta que las cookies específicas que se sirven pueden variar según las Propiedades en línea específicas que visite):</font></font></span></span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span id="control" style="color: rgb(0, 0, 0);"><strong><span data-custom-class="heading_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿Cómo puedo controlar las cookies?</font></font></span></strong>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiene derecho a decidir si acepta o rechaza las cookies. </font><font style="vertical-align: inherit;">Puede ejercer sus derechos de cookies configurando sus preferencias en el Administrador de consentimiento de cookies. </font><font style="vertical-align: inherit;">El Administrador de consentimiento de cookies le permite seleccionar qué categorías de cookies acepta o rechaza. </font><font style="vertical-align: inherit;">Las cookies esenciales no pueden rechazarse ya que son estrictamente necesarias para brindarle servicios.</font></font></span></span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">El Administrador de consentimiento de cookies se puede encontrar en el banner de notificación y en nuestro sitio web. </font><font style="vertical-align: inherit;">Si opta por rechazar las cookies, aún puede utilizar nuestro sitio web, aunque su acceso a algunas funciones y áreas de nuestro sitio web puede estar restringido. </font><font style="vertical-align: inherit;">También puede configurar o modificar los controles de su navegador web para aceptar o rechazar cookies. </font><font style="vertical-align: inherit;">Como los medios por los cuales puede rechazar las cookies a través de los controles de su navegador web varían de un navegador a otro, debe visitar el menú de ayuda de su navegador para obtener más información.</font></font></span></span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Además, la mayoría de las redes publicitarias le ofrecen una forma de excluirse de la publicidad dirigida. </font><font style="vertical-align: inherit;">Si desea obtener más información, visite </font></font></span></span>
                                <span style="font-size: 15px; color: rgb(48, 48, 241);"><span data-custom-class="body_text"><a data-custom-class="link" href="http://www.aboutads.info/choices/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">http://www.aboutads.info/choices/</font></font></a></span></span><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> o </font></font></span></span>
                                <span style="font-size: 15px; color: rgb(48, 48, 241);"><span data-custom-class="body_text"><a data-custom-class="link" data-fr-linked="true" href="http://www.youronlinechoices.com" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">http://www.youronlinechoices.com</font></font></a></span></span>
                                <span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></span></span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div></div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(0, 0, 0); font-size: 15px;"><strong><span data-custom-class="heading_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿Qué pasa con otras tecnologías de seguimiento, como balizas web?</font></font></span></strong>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Las cookies no son la única forma </font></font></span><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">de reconocer o rastrear a los visitantes de un sitio web. </font><font style="vertical-align: inherit;">Es posible que usemos otras tecnologías similares de vez en cuando, como balizas web (a veces llamadas "píxeles de seguimiento" o "gifs transparentes"). </font><font style="vertical-align: inherit;">Estos son pequeños archivos gráficos que contienen un identificador único que nos permite reconocer cuando alguien ha visitado nuestros sitios web.</font></font><bdt class="block-component"></bdt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> o abrió un correo electrónico incluyéndolos</font></font><bdt class="statement-end-if-in-editor"></bdt><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">. </font><font style="vertical-align: inherit;">Esto nos permite, por ejemplo, monitorear </font></font></span>
                                        <span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">los patrones de tráfico de los usuarios de una página a otra dentro de un sitio web, para enviar cookies o comunicarse con ellas, para comprender si ha ingresado al sitio web desde un anuncio en línea que se muestra en un sitio web de terceros. , para mejorar el rendimiento del sitio y medir el éxito de las campañas de marketing por correo electrónico. </font><font style="vertical-align: inherit;">En muchos casos, estas tecnologías dependen de las cookies para funcionar correctamente, por lo que rechazar las cookies afectará su funcionamiento.</font></font></span>
                                                <bdt class="block-component"></bdt>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="color: rgb(0, 0, 0);"><strong><span data-custom-class="heading_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿Utiliza cookies Flash u objetos compartidos locales?</font></font></span></strong>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Los sitios web también pueden utilizar las llamadas "cookies Flash" (también conocidas como objetos compartidos locales o "LSO") para, entre otras cosas, recopilar y almacenar información sobre el uso que usted hace de nuestros servicios, la prevención del fraude y otras operaciones del sitio.</font></font></span></span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Si no desea que se almacenen cookies de Flash en su computadora, puede ajustar la configuración de su reproductor Flash para bloquear el almacenamiento de cookies de Flash utilizando las herramientas que se encuentran en el </font></font></span></span>
                            <span data-custom-class="body_text"><span style="color: rgb(48, 48, 241);"><a data-custom-class="link" href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html" target="_BLANK"><span style="font-size: 15px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Panel de configuración de almacenamiento</font></font></span></a>
                                </span><span style="font-size: 15px; color: rgb(89, 89, 89);"><font style="vertical-align: inherit;"></font></span><span style="color: rgb(48, 48, 241);"><a data-custom-class="link" href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager03.html" target="_BLANK"><span style="font-size: 15px;"><font style="vertical-align: inherit;"></font></span></a>
                                </span>
                            </span><font style="vertical-align: inherit;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"> del </font></span></span><span data-custom-class="body_text"><span style="color: rgb(48, 48, 241);"><a data-custom-class="link" href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html" target="_BLANK"><span style="font-size: 15px;"><font style="vertical-align: inherit;">sitio web</font></span></a></span></span><span data-custom-class="body_text"><span style="font-size: 15px; color: rgb(89, 89, 89);"><font style="vertical-align: inherit;"> . </font></span></span><span data-custom-class="body_text"><span style="font-size: 15px; color: rgb(89, 89, 89);"><font style="vertical-align: inherit;">También puede controlar las cookies de Flash yendo al </font></span></span><span data-custom-class="body_text"><span style="color: rgb(48, 48, 241);"><a data-custom-class="link" href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager03.html" target="_BLANK"><span style="font-size: 15px;"><font style="vertical-align: inherit;">Panel de configuración de almacenamiento global</font></span></a></span></span></font><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> y </font></font></span><span style="font-size:15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">siguiendo las instrucciones (que pueden incluir instrucciones que expliquen, por ejemplo, cómo eliminar las cookies de Flash existentes (referidas a "información" en el sitio de Macromedia), cómo prevenir Flash LSOs para que no se coloquen en su computadora sin que se le solicite, y (para Flash Player 8 y posterior) cómo bloquear las Flash Cookies que no están siendo entregadas por el operador de la página en la que se encuentra en ese momento).</font></font></span></span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tenga en cuenta que configurar Flash Player para restringir o limitar la aceptación de cookies Flash puede reducir o impedir la funcionalidad de algunas aplicaciones Flash, incluidas, potencialmente, las aplicaciones Flash utilizadas en conexión con nuestros servicios o contenido en línea.</font></font></span></span>
                            </span><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="color: rgb(89, 89, 89);"><bdt class="statement-end-if-in-editor"></bdt><bdt class="block-component"></bdt></span></span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(0, 0, 0);"><strong><span data-custom-class="heading_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿Sirve publicidad dirigida?</font></font></span></strong>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Los terceros pueden enviar cookies en su computadora o dispositivo móvil para publicar publicidad a través de nuestros sitios web. </font><font style="vertical-align: inherit;">Estas empresas pueden utilizar información sobre sus visitas a este y otros sitios web para proporcionar anuncios relevantes sobre bienes y servicios que le pueden interesar. También pueden emplear tecnología que se utiliza para medir la eficacia de los anuncios. </font><font style="vertical-align: inherit;">Esto se puede lograr mediante el uso de cookies o balizas web para recopilar información sobre sus visitas a este y otros sitios con el fin de proporcionar anuncios relevantes sobre bienes y servicios de posible interés para usted. </font><font style="vertical-align: inherit;">La información recopilada a través de este proceso no nos permite a nosotros ni a ellos identificar su nombre, datos de contacto u otros detalles que lo identifiquen directamente, a menos que elija proporcionarlos.</font></font></span></span>
                            <span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="color: rgb(89, 89, 89);"><bdt class="statement-end-if-in-editor"></bdt></span></span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(0, 0, 0);"><strong><span data-custom-class="heading_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿Con qué frecuencia actualizará esta Política de cookies?</font></font></span></strong>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Es posible que actualicemos </font></font></span><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">esta Política de cookies de vez en cuando para reflejar, por ejemplo, cambios en las cookies que utilizamos o por otras razones operativas, legales o reglamentarias. </font><font style="vertical-align: inherit;">Por lo tanto, vuelva a visitar esta Política de cookies con regularidad para mantenerse informado sobre nuestro uso de cookies y tecnologías relacionadas.</font></font></span></span>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La fecha en la parte superior de esta Política de cookies indica cuándo se actualizó por última vez.</font></font></span></span>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(0, 0, 0);"><strong><span data-custom-class="heading_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿Dónde puedo obtener más información?</font></font></span></strong>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Si tiene alguna pregunta sobre nuestro uso de cookies u otras tecnologías, envíenos un correo electrónico a </font></font><bdt class="question">admin@solid-assets.com</bdt>.</span></span>
                                </span>
                            </span>
                        </div>
                        <div style="line-height: 1.5;"><br></div>
                        <div style="line-height: 1.5;"><br></div>
                        <style>
                            ul {
                                list-style-type: square;
                            }

                            ul>li>ul {
                                list-style-type: circle;
                            }

                            ul>li>ul>li>ul {
                                list-style-type: square;
                            }

                            ol li {
                                font-family: Arial;
                            }
                        </style>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 divider m-t-25"></div>

{% endblock %}
