{% extends "base.html.twig" %}

{% block content %}

    <div class="col-lg-12 hidden-xs">
        <div class="row">
            <img class="banner-main" src="{{ asset('assets/images/banner-1.jpg') }}" />
        </div>
    </div>
        <div class="col-xs-12 divider hidden-xs"></div>

    <div class="col-lg-12 hidden-xs">
        <div class="row">
            <div class="col-sm-2 hidden-xs">
                <img class="banner-left" src="{{ asset('assets/images/banner-left-1.jpg') }}" />
            </div>
            <div class="col-sm-10 col-xs-12">

                <div class="col-md-3 col-sm-4 main-info-box">
                    <div class="box-body">
                        <div class="title">Capital</div>
                        <div class="divider"></div>
                        <div class="content">Su dinero generando nuevos ingresos... Texto alusivo al capital del afiliado. Que inspire confianza y seguridad.</div>
                        <i class="fa fa-university"></i>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 main-info-box">
                    <div class="box-body">
                        <div class="title">Soporte</div>
                        <div class="divider"></div>
                        <div class="content">Atención a afiliados 24/7... Texto alusivo al soporte en línea y referencia a los canales alternativos.</div>
                        <i class="fa fa-comments"></i>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 main-info-box">
                    <div class="box-body">
                        <div class="title">Administración</div>
                        <div class="divider"></div>
                        <div class="content">La prioridad es nuestro afiliado... Texto alusivo a las buenas prácticas de administración del negocio.</div>
                        <i class="fa fa-file-text"></i>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 main-info-box">
                    <div class="box-body">
                        <div class="title">Retiros inmediatos</div>
                        <div class="divider"></div>
                        <div class="content">Texto alusivo a la inmediatez de los retiros. Cero demora en el procesamiento de los pagos.</div>
                        <i class="fa fa-money"></i>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 main-info-box">
                    <div class="box-body">
                        <div class="title">Hosting seguro</div>
                        <div class="divider"></div>
                        <div class="content">La seguridad de sus transacciones está asegurada. Texto alusivo a la seguridad del hosting.</div>
                        <i class="fa fa-server"></i>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 main-info-box">
                    <div class="box-body">
                        <div class="title">Retiros 24 horas</div>
                        <div class="divider"></div>
                        <div class="content">Pagos express. Texto alusivo a la posibilidad de solicitar un retiro en cualquier momento.</div>
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 main-info-box">
                    <div class="box-body">
                        <div class="title">Compromiso</div>
                        <div class="divider"></div>
                        <div class="content">Su interés es nuestro trabajo. Importancia del compromiso del proyecto con sus afiliados.</div>
                        <i class="fa fa-trophy"></i>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 main-info-box">
                    <div class="box-body">
                        <div class="title">Disponible</div>
                        <div class="divider"></div>
                        <div class="content">Un texto para lo que nos guste transmitir.</div>
                        <i class="fa fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="col-xs-12 divider hidden-xs"></div>

    <div class="col-lg-12">
        <div class="row">
            <div class="float-left col-sm-8 col-xs-12">
                <div class="paragraph">
                    <span class="subtitle">Solid-Assets</span>
                </div>
                <div class="paragraph m-t-25">
                    Texto alusivo a nuestro proyecto y los beneficios que generan las inversiones. Este mensaje debe incentivar al visitante y trasmitirle confianza.
                </div>
                <div class="paragraph text-center m-t-25">
                    <a class="btn-lg btn-solid" href="{{ path('app_login') }}">Invierta ahora</a>
                </div>
            </div>
            <div class="float-right w-30 hidden-xs">
                <img class="logo-box" src="{{ asset('assets/images/logo-box-grey.png') }}" />
            </div>
        </div>
    </div>
            <div class="col-xs-12 divider"></div>

    <div class="col-lg-12">
        <div class="row">
            <div class="paragraph">
                <span class="subtitle">Inversión</span>
            </div>
            <div class="paragraph m-t-25 clearfix">

                <div class="col-sm-3 col-xs-12 main-plan-box">
                    <div class="box-body">
                        <div class="title text-center bg-plan-starter">Principiante</div>
                        <div class="content">
                            <div class="left-bracket bd-plan-starter"></div>
                            <div class="middle-content">
                                10 USD<br/>
                                20 USD<br/>
                                30 USD<br/>
                                50 USD
                            </div>
                            <div class="right-bracket bd-plan-starter"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 main-plan-box">
                    <div class="box-body">
                        <div class="title text-center bg-plan-medium">Intermedio</div>
                        <div class="content">
                            <div class="left-bracket bd-plan-medium"></div>
                            <div class="middle-content">
                                100 USD<br/>
                                200 USD<br/>
                                300 USD<br/>
                                500 USD
                            </div>
                            <div class="right-bracket bd-plan-medium"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 main-plan-box">
                    <div class="box-body">
                        <div class="title text-center bg-plan-advanced">Avanzado</div>
                        <div class="content">
                            <div class="left-bracket bd-plan-advanced"></div>
                            <div class="middle-content">
                                1000 USD<br/>
                                2000 USD<br/>
                                3000 USD<br/>
                                5000 USD
                            </div>
                            <div class="right-bracket bd-plan-advanced"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 main-plan-box">
                    <div class="box-body">
                        <div class="title text-center bg-plan-expert">Experto</div>
                        <div class="content">
                            <div class="left-bracket bd-plan-expert"></div>
                            <div class="middle-content">
                                10000 USD<br/>
                                20000 USD<br/>
                                30000 USD<br/>
                                50000 USD
                            </div>
                            <div class="right-bracket bd-plan-expert"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="paragraph m-t-25">
                <div class="col-xs-12 m-b-25 text-center accepted-currencies">
                    <p>Pagos aceptados en casi todas las monedas, cripto o fiat.</p>
                </div>
                <div class="col-xs-12 text-center image-currencies">
                    <img class="m-b-25" src="{{ asset('assets/images/currencies.png') }}" />
                </div>
            </div>
        </div>
    </div>
                <div class="col-xs-12 divider"></div>

    <div class="col-lg-12">
        <div class="row">
            <div class="float-left col-sm-8 col-xs-12">
                <div class="paragraph">
                    <span class="subtitle">Afiliados</span>
                </div>
                <div class="paragraph m-t-25">
                    Texto alusivo al programa de afiliados. Debe incentivar la atracción de nuevos inversores con el compromiso de bonos instantáneos y crecimiento de los ingresos.
                </div>
                <div class="paragraph text-center m-t-25">
                    <a class="btn-lg btn-solid" href="{{ path('app_login') }}">Invierta ahora</a>
                </div>
            </div>
            <div class="float-right text-center w-30 hidden-xs">
                <img class="" src="{{ asset('assets/images/affiliate.png') }}" />
            </div>
        </div>
    </div>
                <div class="col-xs-12 divider"></div>

{% endblock %}
