{% extends "base.html.twig" %}

{% block content %}

    <div class="col-lg-12">
        <div class="row">

            <div class="col-md-2 col-sm-2 hidden-xs m-t-25">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 m-t-25 text-justify">
                <div class="box-body">
                    <p>Solid-Assets entra en cooperación con cada inversor y las partes se unen para lograr objetivos rentables. Es gracias al digno cumplimiento de las obligaciones asumidas que constantemente nos incorporamos nuevos inversores, y además, una sociedad inversora siempre puede destinar capital de forma más rentable con menores riesgos de pérdidas y con mayores porcentajes de beneficio. Adoptamos un enfoque responsable de la cooperación con un inversor y valoramos la confianza depositada en nosotros cuando los inversores nos confían sus fondos.</p>
                    <img class="banner-left" src="{{ asset('assets/images/sa-spacer-gold.png') }}" />
                    <p>Solid-Assets garantiza que los inversores recibirán un entorno de inversión seguro y podrán obtener grandes beneficios de cada inversión que realicen.</p>
                    <img class="banner-left" src="{{ asset('assets/images/sa-spacer-gold.png') }}" />
                    <p>Además de proporcionar un clima de inversión seguro, un plan de inversión eficaz y asistencia profesional para la inversión en línea, también nos aseguramos de que obtenga el nivel óptimo de seguridad y privacidad. La información personal no se divulga a terceros. Trabajamos para asegurarnos de que nuestros inversores estén contentos con nuestra ayuda y servicios.</p>
                    <div class="paragraph text-center m-t-25">
                        <a class="btn-lg btn-solid" href="#">Invierta ahora</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
                    <div class="col-xs-12 divider m-t-25"></div>

{% endblock %}