{% extends "base.html.twig" %}

{% block content %}

    <div class="col-lg-12">
        <div class="row">

            <div class="col-xs-12 m-t-25">
            </div>
            <div class="col-md-2 col-sm-2 hidden-xs m-t-25">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 m-t-25 text-justify">
                <div class="box-body">
                    {% for tou in tous %}
                        <div class="col-xs-12 m-b-15">
                            <div class="col-xs-1"><h2 class="faq-subtitle">{{ tou.number|roman }}</h2></div>
                            <div class="col-xs-11">
                            <h2 class="faq-subtitle">{{ tou.title|raw }}</h2>
                            <p class="text-justify">{{ tou.content|raw }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 divider m-t-25"></div>

{% endblock %}
