<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ asset('assets/images/favicon.png') }}">
        <title>Solid Assets {% block title %}{% endblock %}</title>
        <!-- CSS -->
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/plugins/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <link rel="stylesheet" href="{{ asset('assets/css/nav-ie.css') }}" />
        <![endif]-->
        <link href="{{ asset('assets/css/nav.css') }}" rel="stylesheet" />
        {% if backend is defined %}
            <link href="{{ asset('assets/css/backend.css') }}" rel="stylesheet" />
        {% endif %}
        <!-- Scripts -->
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
        <script src="{{ asset('assets/js/responsive-nav.js') }}"></script>
    </head>
    <body style="background: {{ backend is defined ? '#e8e8e8':'white'}};">

        <header class="clearfix {{ active=='security'?'hidden':'' }}">
            <a href="{{ path('homepage') }}" data-scroll>
                <img class="nav-logo logo" src="{{ asset('assets/images/sa-logo-w.png') }}" />
            </a>
            <nav class="nav-collapse">
                <ul>
                    {% if (is_granted('ROLE_CLIENT') or is_granted('ROLE_ADMIN')) and backend is not defined %}
                        <li class="{{ active=='members'?'active':'' }}"><a href="{{ path('client_dashboard') }}" data-scroll>Dashboard</a></li>
                        {% endif %}
                    <li class="{{ active=='homepage'?'active':'' }}"><a href="{{ path('homepage') }}" data-scroll>Inicio</a></li>
                    <li class="{{ active=='solid'?'active':'' }}"><a href="{{ path('solid') }}" data-scroll>Solid</a></li>
                    <li class="{{ active=='faq'?'active':'' }}"><a href="{{ path('faq') }}" data-scroll>F.A.Q.</a></li>
                    <li class="{{ active=='contact'?'active':'' }}"><a href="{{ path('contact') }}" data-scroll>Contacto</a></li>
                        {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_ADMIN') %}
                        <li class="visible-xs"><a href="{{ path('app_logout') }}" data-scroll>Salir</a></li>
                        {% else %}
                        <li class="visible-xs"><a href="{{ path('app_login') }}" data-scroll>Entrar</a></li>
                        {% endif %}
                </ul>
            </nav>
            {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_ADMIN') %}
                <a class="btn-lg btn-solid btn-login hidden-xs" href="{{ path('app_logout') }}">Salir</a>
            {% else %}
                <a class="btn-lg btn-solid btn-login hidden-xs" href="{{ path('app_login') }}">Entrar</a>
            {% endif %}
        </header>

            {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_ADMIN') %}
                <div class="col-xs-12 user-data">
                    <span class="username">{{ app.user.firstname }}</span>
                    {% if is_granted('ROLE_CLIENT') and app.user.account.bestPlan is not null %}
                        <i class="fa fa-trophy" style="color:{{ app.user.account.color }}"
                           title="Nivel {{ app.user.account.bestPlan.completeName }}"></i>
                    {% endif %}
                    {% if app.user.mySponsor is not null %}
                        <span>Patrocinador: {{ app.user.mySponsor.firstname }}</span>
                    {% endif %}
                </div>
            {% endif %}

        <section>
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="flash-notice">
                    <i class="fa fa-times btn-close-flash"></i>
                    {{ flash_message }}
                </div>
                <script>
                    $(document).ready(function () {
                        $(".btn-close-flash").click(function () {
                            $(".flash-notice").hide();
                        });
                    });
                </script>
            {% endfor %}


            {% block content %}{% endblock %}

        </section>

            <footer class="col-xs-12">
                <div class="row">
                    <div class="paragraph text-center">
                        <ul class="footer-nav">
                            <li><a href="{{ path('homepage') }}">Inicio</a></li>
                            <li><a href="{{ path('solid') }}">Solid</a></li>
                            <li><a href="{{ path('faq') }}">F.A.Q.</a></li>
                            <li><a href="{{ path('contact') }}">Contacto</a></li>
                            <li><a href="{{ path('terms_of_use') }}">Términos de uso</a></li>
                            <li><a href="{{ path('cookies_policy') }}">Políticas de cookies</a></li>
                        </ul>
                    </div>
                    <div class="paragraph text-center">
                        <a href="{{ path('homepage') }}"><img class="logo-footer" src="{{ asset('assets/images/sa-logo-gold.png') }}" /></a>
                </div>
            </div>
        </footer>

                    <script src="{{ asset('assets/js/fastclick.js') }}"></script>
                    <script src="{{ asset('assets/js/scroll.js') }}"></script>
                    <script src="{{ asset('assets/js/fixed-responsive-nav.js') }}"></script>
                    {% block javascripts %}{% endblock %}

    </body>
</html>