<!DOCTYPE html>
{% set title = "Toc-Toc, Servicios Cuba" %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>{{ title }}</title>
</head>
<body>
    <h3>{{ title }}</h3>
    <br>
    <p>Enbuenahora {{ user.firstName }}, usted ha registrado el correo <a href="{{ url('active_user', {'register_token': user.registerToken }) }}" target="_blank">{{ user.email }}</a> en nuestra plataforma TocToc Servicios Cuba.</p>
    <p>De esta forma podr&aacute; tener acceso a los servicios de la misma.</p>
    <p>Para activar su cuenta deber&aacute; hacer click en el siguiente enlace <a href="{{ url('active_user', {'register_token': user.registerToken }) }}" target="_blank">{{ url('active_user', {'register_token': user.registerToken }) }}</a>, </p>
    <p>luego al entrar y terminar&aacute; de completar sus datos y disfrutar&aacute; de las ventajas de la plataforma.</p>
    <br>

    <footer class="footer">
        <div class="container">
            <div class="pull-left"><h4>Equipo de TocToc Servicios Cuba</h4></div>
            <div class="clearfix"></div>
        </div>
    </footer>

</body>
</html>