{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-6 login-left p-40">
                <!-- Content Wrapper. Contains page content -->
                <div class="">
                    {% for message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                            <span class="fa fa-close" style="float: right;" onclick="$(this).parent().slideUp();"></span>
                        </div>
                    {% endfor %}
                </div>
                <form class="form-signin" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <h1 class="text-center">Inicie su sesión</h1>
                    <div class="form-group input-group col-xs-12 m-t-25">
                        <input type="text" id="email" name="_email" value="" class="form-control"
                               placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group input-group col-xs-12 m-t-25">
                        <input type="password" name="_password" id="inputPassword" class="form-control"
                               placeholder="Contraseña" autocomplete="off" required>
                    </div>
                    <div class="form-group text-right">
                        <a href="#" class="white underline">Olvidó su contraseña?</a>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                    <div class="m-t-50">
                        <button class="btn btn-lg btn-solid btn-block" type="submit">Entrar</button>
                    </div>
                </form>
                    <div class="text-center m-t-50 white">
                        <p>No tienes una cuenta aún? &nbsp;&nbsp;&nbsp;<a href="{{ path('app_register') }}" class="white underline">REGÍSTRATE</a></p>
                    </div>
            </div>

                    <div class="col-sm-6">
                        <div class="login-right">
                            <a href="{{ path('homepage') }}">
                                <img src="{{ asset('assets/images/sa-logo-gold.png') }}" class="img-responsive" alt="Solid-Assets">
                            </a>
                        </div>
                    </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        setInterval(function () {
            $.each($('.alert'), function (i, elem) {
                $(elem).slideUp()
            });
        }, 5000);
    </script>

{% endblock %}