{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-6 login-left p-40">
                <!-- Content Wrapper. Contains page content -->
                <div id="messages">
                    {% for message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                            <span class="fa fa-close" style="float: right;" onclick="$(this).parent().slideUp();"></span>
                        </div>
                    {% endfor %}
                </div>
                    {{ form_start(form, {role : 'form', attr:{onsubmit: 'return checkform()'}}) }}
                    {% if error is defined %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h1 class="text-center">Regístrate</h1>
                <div class="form-group input-group col-xs-12 m-t-25">
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group input-group col-xs-12 m-t-25">
                    {{ form_widget(form.email) }}
                </div>
                <div class="form-group input-group col-xs-12 m-t-25">
                    {{ form_widget(form.email2) }}
                </div>
                <div class="form-group input-group col-xs-12 m-t-25">
                    {{ form_widget(form.password) }}
                </div>
                <div class="form-group input-group col-xs-12 m-t-25">
                    {{ form_widget(form.password2) }}
                </div>
                <div class="form-group agree m-t-25">
                    <p>Al registrarte afirmas que has leido y aceptas los <a href="{{ path('terms_of_use') }}" class="white underline">TÉRMINOS DE USO</a></p>
                </div>

                    <div class="m-t-50">
                        <button class="btn btn-lg btn-solid btn-block" type="submit">Enviar</button>
                    </div>
                    {{ form_end(form) }}
                    <div class="text-center m-t-50 white">
                        <p>Ya tienes una cuenta? &nbsp;&nbsp;&nbsp;<a href="{{ path('app_login') }}" class="white underline">ENTRAR</a></p>
                    </div>
            </div>

                    <div class="col-sm-6">
                        <div class="login-right">
                            <a href="{{ path('homepage') }}">
                                <img src="{{ asset('assets/images/sa-logo-gold.png') }}" class="img-responsive" alt="Solid-Assets">
                            </a>
                        </div>
                    </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script language="javascript">

        setInterval(function () {
            $.each($('.alert'), function (i, elem) {
                $(elem).slideUp()
            });
        }, 5000);

        function checkform() {
            if (document.register.register_email.value !== document.register.register_email2.value) {
                addMessage("Las direcciones de email no coinciden.");
                document.register.register_email2.focus();
                return false;
            }
            if (document.register.register_password.value !== document.register.register_password2.value) {
                addMessage("Las direcciones de email no coinciden.");
                document.register.register_password2.focus();
                return false;
            }

            return true;
        }

        function addMessage(message) {
            $("#messages").add(
                    '<div class="alert alert-success">'
                    + message
                    + '<span class="fa fa-close" style="float: right;" onclick="$(this).parent().slideUp();"></span></div>');
        }

    </script>

{% endblock %}